{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {%- if value is empty -%}
        &nbsp;
    {%- elseif value is sameas(0) -%}
        {{ value }}
    {%- else -%}
        <a target="_blank" href="/admin/sar/click/list?filter[ad][value]={{ object.id }}">{{ value }}</a>
    {%- endif -%}
{% endblock %}
